<menu #menu [content]="content" [routes]="routes" (addRoute)="addRoute($event)" (removeRoute)="removeRoute($event)"></menu>


<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Route</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div *ngIf="routeInfos.length">

    <ion-card>

      <ion-slides #slides pager (ionSlideDidChange)="slideChanged()">

        <ion-slide *ngFor="let routeInfo of routeInfos">

          <ion-item [ngStyle]="{color: '#' + routeInfo.routeConfig.color}">
            <ion-avatar item-start>
              <ion-icon name="bus"></ion-icon>
            </ion-avatar>
            <h2>{{routeInfo.routeConfig.title}}</h2>
            <p>{{routeInfo.vehicles.length}} active vehicles</p>
          </ion-item>

        </ion-slide>

      </ion-slides>

    </ion-card>

    <map *ngIf="selectedRouteInfo" [routeConfig]="selectedRouteInfo.routeConfig" [vehicles]="selectedRouteInfo.vehicles"></map>
  </div>

  <div *ngIf="!routeInfos.length">
    <p padding>Select a route to track by clicking the menu button above.</p>
  </div>

</ion-content>
