.ios, .md {
  page-home {

    ion-card {
      background-color: white;
      width: 100%;
      margin: 10px 0;
      height: 75px;
      box-shadow: none;

      ion-slides {
          ion-slide {
          ion-avatar, ion-label {
            margin-top: 0 !important;
          }

        }
      }






      ion-icon {
        font-size: 40px;
      }
    }

    ion-item {
      background-color: white;
    }



}
}

